@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body{
  background-color: #ebebeb;
  font-family: 'Poppins', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

h1, h2, h3, h4 ,h5, h6{
  font-weight: bold;
}